# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg

# Database & Vector DB
*.db
*.sqlite3
vector_database/

# Markdown documents
*.md
!README.md

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node.js (frontend)
node_modules/
dist/
dist-ssr/
*.local
*.tsbuildinfo
.npm-debug.log*
